.home-header {
    text-align: 'center';
    color: '#fff';
    height: 64;
    padding-inline: 48;
    line-height: '64px';
    background: url("../assets/images/jv.png");
}

.layout-box {
    border-radius: 12;
    overflow: 'hidden';
    width: 100%;
    height: 100%;
    box-shadow: '0 4px 12px rgba(0, 0, 0, 0.1)';
}

.slider-bar-box {
    text-align: 'center';
    line-height: '120px';
    color: '#fff';
    width: "10%";
    height: "100%";
    background-color: white;
}